@use '@/styles/functions' as *;

.button {
    background-color: rgba(216, 234, 255, 1);
    border-radius: 8px;
    color: #004577;
    border: 1px solid rgba(0, 69, 119, 1);
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noah', sans-serif;
    gap: 10px;
    font-weight: bold;
    padding: responsive-font(9px, 6px) responsive-font(27px, 14px);
    font-size: responsive-font(42px, 18px);
    

    text-wrap-mode: nowrap;
    &:hover {
        background-color: #006ab7;
        color: white;
    }
    &:active {
        background-color: #0040e1;
        color: white;
    }
    &:disabled {
        cursor: not-allowed;
        // background-color: #004577;
        color: #004577;
    }
    &:disabled:hover {
        background-color: rgb(255, 255, 255, 0.5);
        color: inherit;
    }
    & > svg {
        width: responsive-font(30px, 12px);
    }
}

.spinner {
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #006ab7;
    border-top-color: transparent;
    border-radius: 50%;

    animation: spin 0.6s linear infinite;
    opacity: 0;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.loading .spinner {
    opacity: 1;
    transform: scale(1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(0.8);
    }
}
