@use '@/styles/functions' as *;

.container {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #d8eaff;
    z-index: 999;
    svg {
        object-fit: contain;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    z-index: 1001;

    &__wrapper {
        max-width: 1440px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: responsive-font(20px, 10px) 0;
    }
    &__logo {
        width: responsive-font(70px, 28px);
        flex: none;
        position: relative;
        z-index: 1001;
    }
    &__navlink {
        color: #004577;
        font-size: responsive-font(34px, 5px);
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #0040e1;
        }
        &_active {
            color: #0040e1;
        }
    }

    &__nav {
        display: flex;
        gap: clamp(10px, 2vw, 30px);
        align-items: center;
    }
    &__logo {
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__phone__show,
    &__phone__menu {
        display: none;
    }
    &__phone__menu {
        position: relative;
        z-index: 1001;
    }
    .noScroll {
        overflow: hidden;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .container {
        &__logo {
            flex: none;
        }
        &__nav {
            display: none;
        }
        &__navlink__phone {
            display: none !important;
        }

        &__phone__menu {
            font-size: responsive-font(24px, 10px);
            color: #004577;
            cursor: pointer;
            display: flex;
            gap: 30px;
            & > svg {
                width: responsive-font(40px, 16px);
            }
            & > span {
                width: responsive-font(45px, 18px);
                width: responsive-font(40px, 16px);
                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: responsive-font(10px, 2px);
                    position: absolute;
                    top: 0;
                    background-color: #004577;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: responsive-font(10px, 2px);
                    position: absolute;
                    bottom: 0;
                    background-color: #004577;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                }
            }
        }
        &_active {
            .container {
                &__phone__menu {
                    & > span {
                        transform: translateX(
                            responsive-font(10px, 4px, 768px)
                        );
                        &::before {
                            transform: rotate(45deg) translateX(-12%);
                            top: 50%;
                        }
                        &::after {
                            transform: rotate(-45deg) translateX(-12%);
                            bottom: 50%;
                        }
                    }
                }
                &__phone__show {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    padding: 0 responsive-font(60px, 26px, 768px) 0;
                    top: 0;
                    left: 0;
                    background-color: #d8eaff;
                    z-index: 1000;
                    & > button {
                        padding: responsive-font(7px, 3px, 768px)
                            responsive-font(20px, 10px);
                    }
                }
                &__phone__button {
                    position: fixed;
                    bottom: 100px;
                    right: responsive-font(240px, 60px);
                    z-index: 1000;
                    padding: 15px 30px;
                    font-size: responsive-font(27px, 16px, 768px);
                }
                &__menu {
                    position: absolute;
                    right: responsive-font(60px, 26px, 768px);
                    top: responsive-font(120px, 80px, 768px);
                }
                &__nav {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 40px;
                }
                &__navlink {
                    display: block;
                    font-size: responsive-font(27px, 16px, 768px);
                }
            }
        }
    }
}

@media (max-width: 1920px) {
    .container {
        padding-left: responsive-font(240px, 30px);
        padding-right: responsive-font(240px, 30px);
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: responsive-font(60px, 26px, 768px);
        padding-right: responsive-font(60px, 26px, 768px);
    }
}
