@use '@/styles/functions' as *;

.services {
    max-width: 1440px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: responsive-font(20px, 10px) 0;
    position: relative;
    z-index: 1;

    &__header {
        display: flex;
        padding-top: responsive-font(85px, 20px);
    }

    &__content {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__offer {
        display: flex;
    }

    &__offer-content {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__discussion {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-top: responsive-font(45px, 20px);
        padding-bottom: responsive-font(214px, 60px);
    }

    &__buttonInvisible {
        display: none;
    }

    &__title {
        font-size: responsive-font(54px, 18px);
        font-weight: bold;
        padding-bottom: responsive-font(30px, 12px);
    }

    &__text {
        font-size: responsive-font(36px, 14px);
        padding-bottom: responsive-font(60px, 20px);

        &--large {
            font-size: responsive-font(28px, 12px);
            padding-left: responsive-font(30px, 10px);
        }
    }

    &__subtitle {
        font-size: responsive-font(42px, 16px);
        font-weight: bold;
    }

    &__subtitleblock {
        display: flex;
    }

    &__list {
        &-item {
            padding-top: responsive-font(45px, 15px);
            display: flex;
            align-items: center;
            gap: responsive-font(16px, 8px);
            height: auto;
        }
    }

    &__shape {
        &--projectsShape {
            position: absolute;
            right: responsive-font(100px, 20px);
            width: clamp(170px, 30vw, 930px);
            height: auto;
            bottom: responsive-font(300px, 80px);
            z-index: -1;
        }

        &--skillsShape {
            position: absolute;
            right: responsive-font(800px, 80px);
            width: clamp(170px, 30vw, 930px);
            height: auto;
            top: responsive-font(150px, 40px);
            z-index: -1;
        }

        &--offerShape {
            position: absolute;
            right: responsive-font(240px, 40px);
            width: clamp(170px, 30vw, 930px);
            height: auto;
            top: responsive-font(480px, 120px);
            z-index: -1;
        }

        &--bigshape {
            position: absolute;
            right: responsive-font(500px, 60px);
            width: clamp(170px, 30vw, 930px);
            height: auto;
            top: responsive-font(1200px, 300px);
            z-index: -1;
        }
    }
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: responsive-font(16px, 8px);
}

.services__icon {
    width: responsive-font(38px, 18px);
    height: auto;
}

.services__image--discussion {
    width: responsive-font(388px, 200px);
    height: auto;
}

.expandButton {
    background: none;
    border: none;
    color: #004577;
    font-size: responsive-font(26px, 14px);
    cursor: pointer;
    padding: responsive-font(10px, 8px) 0;
    margin-top: responsive-font(10px, 8px);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: Noah, sans-serif;

    &:hover {
        color: #1e40af;
    }
}

@media (max-width: 1920px) {
    .services {
        padding-left: responsive-font(240px, 30px);
        padding-right: responsive-font(240px, 30px);
    }
}

@media (max-width: 768px) {
    .services {
        &__shape {
            &--projectsShape {
                position: absolute;
                right: responsive-font(100px, 20px);
                width: clamp(170px, 30vw, 930px);
                height: auto;
                bottom: responsive-font(300px, 80px);
                z-index: -1;
                right: 200px;
                bottom: 200px;
            }

            &--skillsShape {
                position: absolute;
                right: responsive-font(800px, 80px);
                width: clamp(170px, 30vw, 930px);
                height: auto;
                top: responsive-font(150px, 40px);
                z-index: -1;
                right: 162px;
                top: 178px;
            }

            &--offerShape {
                position: absolute;
                right: responsive-font(240px, 40px);
                width: clamp(170px, 30vw, 930px);
                height: auto;
                top: responsive-font(480px, 120px);
                z-index: -1;
                top: 434px;
                right: 41px;
            }

            &--bigshape {
                display: none;
            }
        }

        &__list {
            &-item {
                padding-top: responsive-font(45px, 15px);
                display: flex;
                align-items: center;
                gap: responsive-font(16px, 8px);
                height: 50px;
                overflow: hidden;
                transition: height 0.5s ease;

                &--expanded {
                    height: 55px;
                }
            }
        }

        &__discussion {
            flex-direction: column;
            align-items: center;
            gap: responsive-font(40px, 20px, 768px);
        }

        &__image--discussion {
            width: 100%;
            height: auto;

            &__text {
                & br {
                    display: none;
                }
            }
        }

        &__button {
            display: none;
        }

        &__buttonInvisible {
            display: block;
            width: 100%;
        }
    }
}
