html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #eaeaea;
}
.logo {
  display: none;
}
/* Фиксированное меню */
.menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.menu__link {
  color: #e6ff00;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #1d1f2b;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
}
.menu__link-left {
  position: fixed;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}
.menu__link-right {
  position: fixed;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}
.menu__link:hover {
  background-color: #e6ff00;
  color: #1d1f2b;
}

/* название */
.title {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.title__text {
  font-size: 120px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #000;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  animation: fadeInUp 2s ease-in-out;
}
/* Меню навигации */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}
.navigation__link {
  color: rgb(89, 83, 97);
  text-decoration: none;
  animation: fadeInUp 2s ease-in-out;
}
.navigation__link:hover {
  color: #8419a2;
}
/* Описание */
.description {
  padding: 50px 20px;
  text-align: center;
  font-size: 22px;
  color: #1d1f2b;
  animation: fadeInUp 2s ease-in-out;
}
.description__text {
  font-size: 40px;
  color: #1d1f2b;
  text-align: left;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  max-width: 850px;
}

/* Проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1px 20px;
  gap: 5px;
}
.projects__item {
  width: 49%;
  color: #e6ff00;
  animation: fadeInUp 2s ease-in-out;
  cursor: pointer;
}
.projects__item-big {
  width: 100%;
  color: #e6ff00;
  animation: fadeInUp 2s ease-in-out;
  cursor: pointer;
}
.projects__image {
  width: 100%;
}

/* Кнопка ссылка на проекты  */
.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: 600;
  color: #ebd721;
  background-color: #090a0a;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  width: 97%;
  margin: 16px;
}

.button:hover {
  background-color: #efe80b;
  color: #000;
  transform: translateY(-2px);
}

.button:active {
  background-color: #004494;
  transform: translateY(0);
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.social__link:hover {
  color: #11a93c;
}
@media (max-width: 959px) {
  .button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 639px) {
  .button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/* Футер */

.footer__contact {
  background-color: #eaeaea;
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
footer a {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 50px;
}
footer p {
  color: #4f4f4f;
  font-size: 50px;
}
.social__link {
  text-decoration: none;
  font-size: 35px;
}
.runingLine {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: #050501;
  background-color: #ebd721;
  font-size: 40px;
}
.runingLine__text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Анимации */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптивность */
@media (max-width: 1199px) {
  .title__text {
    font-size: 108px;
  }
  description__text {
    font-size: 30px;
  }
  footer a {
    font-size: 50px;
  }
}
@media (max-width: 959px) {
  .title__text {
    font-size: 68px;
  }
  description__text {
    font-size: 25px;
  }
  .projects__item {
    width: 100%;
  }
  footer a {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .title__text {
    font-size: 50px;
  }
  .description__text {
    font-size: 20px;
  }
  footer a {
    font-size: 20px;
  }
  footer p {
    font-size: 20px;
  }
  .social__link {
    text-decoration: none;
    font-size: 20px;
  }
  .runingLine {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .title__text {
    font-size: 60px;
  }
  /* Навигация в гамбургере */
  html {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    height: 100%;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #b6e0ed;
  }

  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .hamb {
    display: none;
  }

  .popup {
    display: none;
  }

  .logo {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .menu > li > a {
    text-decoration: none;
  }

  .navbar__wrap .menu {
    display: flex;
  }

  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }

  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    background-color: #121010;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 50%;
    background-color: #b6e0ed;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    top: 6%;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
  footer a {
    font-size: 20px;
  }
  .social__link {
    text-decoration: none;
    font-size: 20px;
  }
  footer p {
    font-size: 18px;
  }
  .runingLine {
    font-size: 15px;
  }
}
/* Модалка обратной связи */
.modal__title {
  text-align: center;
  color: #f4eeee;
}
.modal__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #28487e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(214, 216, 216, 0.7),
    1px 2px 4px 0px rgba(212, 216, 216, 0.7),
    2px 4px 8px 0px rgba(228, 231, 231, 0.7),
    2px 4px 16px 0px rgba(197, 202, 202, 0.7);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #000;
  background-color: transparent;
  color: #ebe5e5;
}
::placeholder {
  color: rgb(196, 196, 207);
}
button {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-color: aliceblue;
  color: rgb(239, 230, 230);
  cursor: pointer;
  width: 30%;
  width: 40%;
  margin-top: 20%;
}

button:hover {
  background-color: #55c1e9;
}
/* About us page */
.header__conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.header__conteiner-title {
  font-size: 90px;
  margin-left: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header__conteiner-btn {
  color: #4f4f4f;
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  background: rgb(148, 146, 145);
  margin-right: 20px;
}
.about__conteiner-text {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
