html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #eaeaea;
}
.logo {
  display: none;
}
/* Фиксированное меню */
.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 8%;
}
.menu__link {
  color: #ebe9f0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #384894;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
  transition: background-color 0.2s ease-in-out;
}
.link-cursor {
  color: #762ace;
  position: fixed;
  right: 2%;
  top: 86%;
}
.link-cursor-img {
  width: 80%;
}
.menu__link-left {
  position: fixed;
  left: -10px;
  top: 40%;
  transform: translateY(-50%);
}
.menu__link-right {
  position: fixed;
  right: -10px;
  top: 40%;
  transform: translateY(-50%);
}
.menu__link:hover {
  background-color: #1596e2;
  color: #dadce3;
}

/* название */
.title {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.title__text {
  font-size: 108px;
  font-weight: 400;
  letter-spacing: -2px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  animation: fadeInUp 1s ease-in-out;
  font-family: "Rubik One", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(45deg, #4c80d3 33%, #4c477f 66%, #3eccdf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: table;
  margin: 20px auto;
}
/* Меню навигации */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}

.navigation__link {
  color: rgb(89, 83, 97);
  text-decoration: none;
  animation: fadeInUp 1s ease-in-out;
}
.navigation__link:hover {
  color: #8419a2;
}
/* Описание */
.description {
  padding: 50px 20px;
  text-align: center;
  font-size: 22px;
  color: #1d1f2b;
  animation: fadeInUp 1s ease-in-out;
}
.description__text {
  font-size: 40px;
  color: #1d1f2b;
  text-align: left;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  max-width: 850px;
}

/* Проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1px 20px;
  gap: 5px;
}
.projects__item {
  width: 49%;
  color: #e6ff00;
  animation: fadeInUp 1s ease-in-out;
  cursor: pointer;
}
.projects__item-big {
  width: 100%;
  color: #e6ff00;
  animation: fadeInUp 1s ease-in-out;
  cursor: pointer;
}
.projects__image {
  width: 100%;
}

/* Кнопка ссылка на проекты  */
.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: 600;
  color: #ebd721;
  background-color: #090a0a;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  width: 97%;
  margin: 16px;
}

.button:hover {
  background-color: #efe80b;
  color: #000;
  transform: translateY(-2px);
}

.button:active {
  background-color: #004494;
  transform: translateY(0);
}

.social {
  display: none;
}
/* Фигуры соц. сетей */
.social__figure {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  border: #000 solid 1px;
  border-left: none;
  border-right: none;
}
.social__figure-lenkidin {
  margin-right: 10%;
  margin-left: 20px;
}
.social__figure-seti {
  display: flex;
  margin-right: 20px;
}
.social__figure-activ:hover {
  cursor: pointer;
}
.rounded-square {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5; /* Светло-серый фон */
  border: 1px solid #333; /* Тонкий темный контур */
  border-radius: 20px; /* Закругленные углы */
  position: relative; /* Для позиционирования круга */
}

.circle {
  width: 300px; /* Чуть меньше квадрата */
  height: 300px;
  background-color: #fafafa; /* Более светлый серый */
  border: 1px solid #333; /* Тонкий темный контур */
  border-radius: 50%; /* Делает круг */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирует круг */
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирует текст */
}

.text {
  color: #333; /* Темно-серый текст */
  font-family: Arial, sans-serif; /* Шрифт с поддержкой кириллицы */
  font-size: 24px; /* Размер текста */
  font-weight: bold; /* Жирный текст */
}

@media (max-width: 959px) {
  .button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 639px) {
  .button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/* Футер */

.footer__contact {
  background-color: #eaeaea;
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 90px;
}
footer a {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 50px;
}
footer p {
  color: #4f4f4f;
  font-size: 50px;
}
.social__link {
  text-decoration: none;
  font-size: 35px;
}
.runingLine {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: #050501;
  background-color: #ebd721;
  font-size: 40px;
}
.runingLine__text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
/* Модалка обратной связи */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__title {
  text-align: center;
  color: #f4eeee;
}
.modal-content {
  background-color: #28487e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(214, 216, 216, 0.7),
    1px 2px 4px 0px rgba(212, 216, 216, 0.7),
    2px 4px 8px 0px rgba(228, 231, 231, 0.7),
    2px 4px 16px 0px rgba(197, 202, 202, 0.7);
}
.modal__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px;
  margin-top: 10%;
}
.modal__contact-conteiner {
  display: flex;
}
.modal__contact-error {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#firstName {
  margin-right: 20px;
}
#email {
  margin-right: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #000;
  background-color: transparent;
  color: #ebe5e5;
  width: 80%;
  outline: none;
}
::placeholder {
  color: rgb(196, 196, 207);
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
button {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-color: aliceblue;
  color: rgb(239, 230, 230);
  cursor: pointer;
  width: 30%;
  width: 40%;
  margin-top: 20%;
}

button:hover {
  background-color: #55c1e9;
}
/* About us page -страница о нас */
.header__link {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: #3333339e;
  cursor: pointer;
  font-size: 20px;
}
.header__link-decoration {
  text-decoration: none;
  color: #3333339e;
}
.header__link-decoration:hover {
  color: #1596e2;
}
.header__link-conection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}
.header__conteiner-title {
  font-size: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header__conteiner-link {
  color: #0c0c0c;
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  background: #c7c9d1;
  margin-right: 20px;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}
.header__conteiner-link:hover {
  color: wheat;
  background: #1596e2;
  transform: rotate(1s);
}
.about__conteiner-text {
  display: block;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Анимации */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------------------------------------------------Адаптивность-------------------------------------------- */
@media (max-width: 1199px) {
  .title__text {
    font-size: 108px;
    margin: auto;
  }
  description__text {
    font-size: 30px;
  }
  footer a {
    font-size: 50px;
  }
  .rounded-square {
    width: 220px;
    height: 220px;
  }
  .circle {
    width: 220px; /* Чуть меньше квадрата */
    height: 220px;
  }
  .text {
    font-size: 24px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
  }
}
@media (max-width: 959px) {
  .title__text {
    font-size: 68px;
  }
  description__text {
    font-size: 25px;
  }
  .projects__item {
    width: 100%;
  }
  footer a {
    font-size: 50px;
  }
  .rounded-square {
    width: 140px;
    height: 140px;
  }
  .circle {
    width: 140px; /* Чуть меньше квадрата */
    height: 140px;
  }
  .text {
    font-size: 24px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
  }
}
@media (max-width: 700px) {
  .header__link {
    font-size: 15px;
  }
  .header__conteiner-title {
    font-size: 70px;
  }
  .header__conteiner-link {
    font-size: 15px;
    padding: 15px;
  }
  .about__conteiner-text {
    font-size: 20px;
  }
  .modal__contact-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .modal__contact-error {
    width: 80%;
  }

  .title__text {
    font-size: 50px;
  }
  .description__text {
    font-size: 20px;
  }
  footer a {
    font-size: 30px;
  }
  footer p {
    font-size: 20px;
  }
  .footer__contact {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .social__link {
    text-decoration: none;
    font-size: 20px;
  }
  .runingLine {
    font-size: 15px;
  }
  .rounded-square {
    width: 100px;
    height: 100px;
  }
  .circle {
    width: 100px; /* Чуть меньше квадрата */
    height: 100px;
  }
  .text {
    font-size: 15px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
  }
}
@media (max-width: 550px) {
  .link-cursor {
    right: -4%;
    top: 92%;
  }
  .link-cursor-img {
    width: 50%;
  }
  .header__link {
    font-size: 10px;
  }
  .header__conteiner-title {
    font-size: 50px;
  }
  .header__conteiner-link {
    font-size: 10px;
    padding: 10px;
  }
  .about__conteiner-text {
    font-size: 15px;
  }
  .menu__link {
    display: none;
  }
  .title__text {
    font-size: 60px;
  }
  .social__figure {
    display: none;
  }
  /* Навигация в гамбургере */
  html {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    height: 100%;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #1596e2;
  }

  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .hamb {
    display: none;
  }

  .popup {
    display: none;
  }

  .logo {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .menu > li > a {
    text-decoration: none;
  }

  .navbar__wrap .menu {
    display: flex;
  }

  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }

  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    /* padding: 10px 20px; */
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    background-color: #121010;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1596e2;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    top: 6%;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
  footer a {
    font-size: 20px;
  }
  .social__link {
    text-decoration: none;
    font-size: 20px;
  }
  footer p {
    font-size: 18px;
  }
  .runingLine {
    font-size: 15px;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  .social__link {
    transition: 0.5s; /* Время эффекта */
  }
  .social__link:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
}
