@use '@/styles/functions' as *;

.cookie {
    max-width: 1440px;
    margin: responsive-font(167px, 43px) auto;
    position: relative;

    &__content {
        margin: 0 auto;
        padding-bottom: responsive-font(219px, 29px);
    }
    &__title {
        font-size: responsive-font(72px, 16px);
        font-weight: bold;
        padding-bottom: responsive-font(30px, 14px);
    }

    &__text {
        font-size: responsive-font(48px, 12px);
        padding-bottom: 15px;

        &__link {
            text-decoration: underline;
        }
    }

    &__shapes {
        position: relative;
    }
    &__offerShape {
        position: absolute;
        width: responsive-font(185px, 42px);
        height: auto;
        right: 1%;
        top: 20%;
    }

    &__descriptionBigShape {
        position: absolute;
        width: responsive-font(185px, 42px);
        height: auto;
        left: 25%;
        bottom: 20%;
    }

    &__descriptionSmallShape {
        position: relative;
        width: responsive-font(185px, 42px);
        height: auto;
    }
}

@media (max-width: 1920px) {
    .cookie {
        margin-left: responsive-font(240px, 30px);
        margin-right: responsive-font(240px, 30px);
    }
}

@media (max-width: 744px) {
    .cookie {
        margin-left: responsive-font(60px, 26px, 768px);
        margin-right: responsive-font(60px, 26px, 768px);
    }
}
