.container {
    max-width: 1440px;
    margin: responsive-font(75px, 20px) auto;
    position: relative;
    margin: auto;
    box-sizing: border-box;

    &__block {
        display: flex;
        flex-wrap: wrap;
        align-items: end;

        justify-content: space-between;
        padding-right: 100px;
    }
    &__mission {
        justify-content: center;
        align-items: end;

        display: flex;
        padding-top: 89px;
    }
    &__title {
        font-size: 54px;
        padding-bottom: 20px;
        font-weight: bold;

        &--team {
            padding-top: 100px;
        }
    }
    &__titlemis {
        font-size: 60px;
        font-weight: bold;
    }
    &__blocktitle {
        justify-content: left;
        align-items: end;

        display: flex;
    }
    &__toptext {
        font-size: 42px;
        text-align: left;
    }
    &__text {
        font-size: 27px;

        &--team {
            text-align: left;
            font-size: 42px;
            padding-bottom: 60px;
        }
    }
    &__advantages {
        display: flex;
        justify-content: center;
    }

    &__advantages-block {
        display: flex;
        flex-wrap: wrap;
        padding-top: 130px;
    }
    &__advantages-list1 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: clamp(10px, 3.125vw, 60px);
    }
    &__advantages-list2 {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: clamp(10px, 3.125vw, 60px);
        padding-top: 50px;
    }

    &__advantage {
        padding-right: 80px;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        border: 1.13px solid rgb(0, 69, 119);
        border-radius: 22.5px;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
        box-sizing: border-box;
    }

    &__advantage-header {
        display: flex;
        align-items: center;
    }

    &__subtitle {
        font-size: 42px;
        line-height: 1.4;
        padding-left: 40px;
    }

    &__team {
        justify-content: center;
        max-width: 1300px;
    }

    &__shape {
        &--smallshap {
            z-index: -1;
            width: 200px;
            height: auto;
            position: absolute;
            top: 20px;
            right: 800px;
        }

        &--bigshape {
            z-index: -1;
            width: 330px;
            height: auto;
            position: absolute;
            left: 660px;
            top: 450px;
        }
    }

    &__image {
        &--frame {
            width: 600px;
            height: 432px;
        }
    }

    &__icon {
        width: 71px;
        height: 62px;
    }
}
