@use '@/styles/functions' as *;
.home {
    overflow: hidden;
    &__mainShape {
        position: absolute;
        width: responsive-font(930px, 250px);
        height: auto;
        z-index: -1;
    }
}

.container {
    max-width: 1440px;
    margin: responsive-font(75px, 20px) auto;
    position: relative;

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__mission {
        justify-content: center;
        align-items: end;
        align-items: center;
        display: flex;
        padding-bottom: responsive-font(130px, 20px);
    }
    &__title {
        font-size: 54px;
        padding-bottom: responsive-font(20px, 12px);
        font-weight: bold;

        &--team {
            padding-top: 100px;
            padding-top: responsive-font(100px, 18px);
        }
    }
    &__titlemis {
        font-size: responsive-font(60px, 16px);
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__blocktitle {
        justify-content: left;
        align-items: end;
        display: flex;
    }
    &__toptext {
        font-size: responsive-font(42px, 12px);
        text-align: left;
    }
    &__text {
        font-size: responsive-font(27px, 19px);

        &--team {
            text-align: left;
            font-size: responsive-font(42px, 14px);
            padding-bottom: responsive-font(60px, 12px);
        }
    }
    &__advantages {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__adteamvantages-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: responsive-font(130px, 18px);
        width: 100%;
        max-width: 1440px;
    }
    &__advantages-list1 {
        display: grid;
        grid-template-columns: 3fr 2.5fr;
        gap: clamp(10px, 3.125vw, 50px);
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    &__advantages-list2 {
        display: grid;
        grid-template-columns: 2.5fr 3fr;
        gap: clamp(10px, 3.125vw, 50px);
        padding-top: responsive-font(50px, 0px);
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__advantage {
        padding-right: responsive-font(80px, 20px);
        padding-left: responsive-font(40px, 20px);
        padding-top: responsive-font(40px, 20px);
        padding-bottom: responsive-font(40px, 20px);
        min-width: 0;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            height: 100%;
        }
        &:nth-child(2) {
            height: 100%;
        }
        gap: clamp(10px, 3.125vw, 60px);
        border: 1.13px solid rgb(0, 69, 119);
        border-radius: responsive-font(1px, 24px, 1920px, 320px);
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
        box-sizing: border-box;
        overflow: hidden;
    }

    &__advantage-header {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__subtitle {
        font-size: 41px;
        font-weight: bold;
        line-height: 1.4;
        padding-left: 40px;
    }

    &__shape {
        position: absolute;
        pointer-events: none;
        &--smallshap {
            left: 47%;
            transform: translateX(-50%);
            bottom: 96%;
            width: responsive-font(200px, 139px);
            height: auto;
            position: absolute;
            z-index: -1;
        }

        &--bigshape {
            left: 55%;
            transform: translateX(-50%);
            top: 10%;
            width: responsive-font(330px, 72px);
            height: auto;
            position: absolute;
        }
        &--offer {
            left: clamp(900px, 2vw, 900px);
            bottom: clamp(1000px, 2vw, 800px);
            width: responsive-font(330px, 72px);
            height: auto;
            position: absolute;
        }
        &--projects {
            left: 1%;
            bottom: 45%;
            width: responsive-font(97px, 84px);
            height: auto;
            position: absolute;
        }
        &--description {
            left: 75%;
            bottom: 7%;
            width: responsive-font(211px, 183px);
            height: auto;
            position: absolute;
        }
        &--offerShape {
            left: 78%;
            bottom: 40%;
            width: responsive-font(283px, 245px);
            height: auto;
            position: absolute;
        }
    }

    &__image {
        &--frame {
            width: responsive-font(600px, 600px);
            height: auto;
        }
    }

    &__icon {
        width: 71px;
        height: 62px;
    }
}

@media (max-width: 1920px) {
    .container {
        margin-left: responsive-font(240px, 30px);
        margin-right: responsive-font(240px, 30px);

        &__advantages,
        &__advantages-block,
        &__advantages-list1 {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        &__subtitle {
            padding-left: 0px;
        }
        &__icon {
            width: 92px;
            height: 80px;
        }
        &__shape {
            &--smallshap {
                left: 47%;
                transform: translateX(-50%);
                bottom: 96%;
                width: responsive-font(200px, 139px);
                height: auto;
                position: absolute;
                z-index: -1;
            }

            &--bigshape {
                left: 55%;
                transform: translateX(-50%);
                top: 10%;
                width: responsive-font(330px, 72px);
                height: auto;
                position: absolute;
            }
            &--projects {
                visibility: hidden;
            }
            &--description {
                visibility: hidden;
            }
            &--offerShape {
                visibility: hidden;
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        &__shape {
            position: absolute;
            pointer-events: none;

            &--offer {
                visibility: visible;
            }
            &--bigshape {
                visibility: hidden;
            }
            &--projects {
                visibility: visible;
                left: 1%;
                bottom: 49%;
                width: responsive-font(97px, 84px);
                height: auto;
                position: absolute;
            }
            &--description {
                visibility: visible;
            }
            &--offerShape {
                visibility: visible;
            }
        }
        &__text {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__title {
            font-size: 39px;
        }
        &__icon {
            width: 69px;
            height: 62px;
        }
    }
}
@media (max-width: 1366px) {
    .container {
        &__text {
            font-size: 19px;
        }
        &__subtitle {
            font-size: 27.78px;
        }
        &__title {
            font-size: 36.11px;
        }
        &__icon {
            width: 64px;
            height: 56px;
        }
    }
}

@media (max-width: 1280px) {
    .container {
        &__image {
            &--frame {
                width: 300px;
                height: auto;
            }
        }
        &__advantage-header {
            gap: 10px;
        }
        &__icon {
            width: 60px;
            height: 52px;
        }
        &__text {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 27px;
        }
        &__title {
            font-size: 34px;
        }
    }
}

@media (max-width: 745px) {
    .container {
        &__subtitle {
            font-size: 20px;
        }
    }
}
@media (max-width: 950px) {
    .container {
        &__subtitle {
            font-size: 20px;
        }
    }
}

@media (max-width: 744px) {
    .container {
        margin-left: responsive-font(60px, 26px, 768px);
        margin-right: responsive-font(60px, 26px, 768px);
        box-sizing: border-box;

        &__block {
            width: 100%;
            flex-direction: column;
        }

        &__mission {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-items: flex-end;
        }
        &__advantage {
            border-radius: 56px;
        }
        &__advantage-header {
            flex-direction: row-reverse;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
        }
        &__advantages-block {
            flex-wrap: wrap;
            padding-top: responsive-font(130px, 18px);
            position: relative;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            max-width: 100%;
        }
        &__image {
            &--frame {
                width: 625px;
                height: auto;
                align-self: center;
            }
        }
        &__advantages-list1 {
            display: grid;
            grid-template-columns: 1fr;
            flex-direction: column;
            justify-items: center;
            width: 100%;
            gap: 10px;
        }
        &__advantages-list2 {
            display: grid;
            grid-template-columns: 1fr;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            width: 100%;
            gap: 10px;
            padding-top: 10px;
        }

        &__advantage {
            width: 100%;
            position: relative;
            overflow: visible;
        }

        &__blocktitle {
            position: relative;
        }

        &__title {
            font-size: 34px;
            &--team {
                margin: 0 auto;
            }
        }
        &__subtitletext {
            height: auto;
        }
        &__text {
            font-size: 26px;
        }
        &__subtitle {
            font-size: 26px;
        }
        &__icon {
            width: 83px;
            height: 73px;
        }
        &__shape {
            &--smallshap {
                visibility: hidden;
            }
            &--bigshape {
                visibility: visible;
                left: 65%;
                transform: translateX(-65%);
                top: -40%;
                transform: translateY(-40%);
                width: 168px;
                height: auto;
                position: absolute;
            }
            &--offerShape {
                visibility: hidden;
            }
            &--projects {
                left: 1%;
                transform: translateX(-1%);
                top: 70%;
                transform: translateY(70%);
                width: responsive-font(97px, 84px);
                height: auto;
                position: absolute;
            }
            &--description {
                left: 48%;
                transform: translateX(-48%);
                bottom: 6%;

                width: 222px;
                height: auto;
                position: absolute;
            }
        }
        &__text {
            font-size: 27px;

            &--team {
                text-align: left;
                font-size: 26px;
                padding-bottom: responsive-font(60px, 12px);
            }
        }
        &__toptext {
            font-size: 26px;
            text-align: left;
        }
    }
}
@media (max-width: 430px) {
    .container {
        margin-left: 35px;
        margin-right: 35px;
        box-sizing: border-box;

        &__title {
            font-size: 20px;
            font-weight: bold;

            &--team {
                margin: 0 auto;
                max-width: 400px;
            }
        }
        &__advantage {
            border-radius: 32px;
        }
        &__image {
            &--frame {
                width: 360px;
                height: auto;
                align-self: center;
            }
        }
        &__toptext {
            font-size: 16px;
            text-align: left;
        }
        &__titlemis {
            font-size: 22px;
            font-weight: bold;
            padding-bottom: 10px;
        }
        &__subtitle {
            font-size: 17px;
            font-weight: bold;
        }
        &__text {
            font-size: 14px;
        }
        &__icon {
            width: 48px;
            height: 42px;
        }
        &__text {
            font-size: 14px;

            &--team {
                text-align: left;
                font-size: 18px;
                padding-bottom: responsive-font(60px, 12px);
            }
        }
        &__shape {
            &--description {
                left: 45%;
                bottom: 7%;
                width: 128px;
                height: auto;
                position: absolute;
            }
            &--bigshape {
                width: 97px;
                height: auto;
                position: absolute;
            }
            &--projects {
                width: 64px;
                height: auto;
                position: absolute;
            }
        }
    }
}

@media (max-width: 320px) {
    .container {
        margin-left: 25px;
        margin-right: 25px;
        box-sizing: border-box;
        &__title {
            font-size: 15px;
            font-weight: bold;

            &--team {
                margin: 0 auto;
                max-width: 267px;
            }
        }
        &__advantage {
            border-radius: 24px;
        }
        &__image {
            &--frame {
                width: 268px;
                height: auto;
                align-self: center;
            }
        }
        &__text {
            font-size: 10px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__icon {
            width: 36px;
            height: 36px;
        }
        &__shape {
            &--bigshape {
                left: 62%;
                transform: translateX(-62%);
                top: -40%;
                transform: translateY(-40%);
                width: 72px;
                height: auto;
                position: absolute;
            }
            &--projects {
                top: 65%;
                transform: translateY(65%);
                width: 47px;
                height: auto;
                position: absolute;
            }
            &--description {
                left: 24%;
                transform: translateX(24%);
                bottom: 8%;
                transform: translateY(8%);
                width: 95px;
                height: auto;
                position: absolute;
            }
        }
    }
}
