@font-face {
    font-family: 'Noah';
    src: url('/fonts/noah-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noah';
    src: url('/fonts/noah-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: rgba(216, 234, 255, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgba(216, 234, 255, 1);
    }
}

html,
body {
    max-width: 100vw;
}

body {
    background: var(--background);
    font-family: 'Noah', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #004577;
    position: relative;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


