.navlink {
  font-size: 28px;
  text-decoration: underline;
  color: #004577;
}
.navlink:active {
color:#0040E1;
}
.navlink :hover {
  color: #006AB7
}

.footer {  
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
   padding-bottom: 100px;
  max-width: 1730px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
 
   
}
