.footer {
  // max-width: 1750px;
  margin: 80px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  &__left {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 40px;
    }
    &__svg {
      width: 280px;
      height: 130px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    & > p {
      margin-left: auto;
      margin-bottom: 50px;
      font-size: 48px;
    }
    ul {
      display: flex;
      gap: 20px;
    }
  }
  &__shape {
    width: 60vw;
    aspect-ratio: 1;
    height: auto;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    bottom: 0;
  }
}
.icon {
  padding-top: 15px;
}
.footerstile {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.footerstilephone {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 40px;
}
.footerbox {
display: flex;
}
.navlink_blog {
  font-size: 36px;
  padding-bottom: 10px;
}
.phon {
  font-size: 28px;
}