.project {
    max-width: 1440px;
    margin: auto;
    // display: flex;
    align-items: center;
    justify-content: space-between;
    padding: responsive-font(20px, 10px) 0;
    position: relative;
    // z-index: 1;
}

@media (max-width: 1920px) {
    .project {
        margin-left: responsive-font(240px, 30px);
        margin-right: responsive-font(240px, 30px);
    }
}
